body {
	margin: 0;
	padding: 0;
	background-color: #C2C2C2;
}

.container {
	display: grid;
	grid-template-columns: 3fr 3fr 100px 100px 100px 100px 100px 3fr;
  	grid-template-rows: 300px 100px 100px 100px auto;
  	grid-template-areas:
  		". . . . . . . ."
  		". av . name name name . ."
  		". av . . . . . . "
  		". av . menu menu menu menu ."
  		". . . . . . . .";
}

.name {
	grid-area: name;
	display: block;
	line-height: 100px;
	h1 {
		font-family: 'Inria Serif', serif;
		font-size: 2.3em;
		vertical-align: center;
		margin-block-start: 0;
    	margin-block-end: 0;
    	color: lighten(#000000, 60%);
	}
}

.av {
	grid-area: av;
	background-image: url('../img/borsuk.png');
	width: 300px;
	border-radius: 50%;
}

.grid-menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.menu {
	grid-area: menu;
	background-color: green;
	width: 400px;
	ul {
		list-style: none;
		margin: 0 0 0 0;
		padding-inline-start: 0;
		li {
			display: list-item;
		}
	}
}

